.title{
  padding: 20px;
}

h1 {
 color: rgb(62, 95, 62);
 font-family: 'DM Serif Text', serif;
 font-size: 40px;
 margin-left: 10px;
 letter-spacing: 2px;

 }

 h4{
   
   margin-left: 20px;
   color: rgb(62, 95, 62);
   font-family: 'DM Serif Text', serif;
 
 }


body{
    /* background-color: rgb(62, 95, 62); */
    background-color: #f3fbf1;
  }
  
  
  .container{
   
    margin-top: 30px;
    background-color: white;
    height: 500px;
    padding-right: 0;
    box-shadow: 15px 15px 0px 0px  rgb(223, 221, 221);
    
  
  }
  
  
  .signupform {
    position: relative;
    width: 500px;
    height: 500px;
    padding: 65px;
    float: left;
    font-family: 'DM Serif Text', serif;
    color: rgb(62, 95, 62);
  }
  
  input{
    border-style: none;
  }
  img {
    width: 100%;
    height: 100%;
  
    
  }
  .plants{
    height: 500px;
    width: 600px;
    float: right;
  }
  
  .btn {
    background-color: rgb(62, 95, 62);
    color: white;
    
    width: 100%;
  }
  
  
  
  .form-control{
    border-radius: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
    
  
  }
  
  h3{s
    margin-bottom: 22px;
    color: rgb(62, 95, 62);
  }

  p{
    color: rgba(1, 1, 138, 0.925);
  }

 